div.masterRecorderContainer {
    border: 1px solid;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 21px;
    font-size: 15px;
    padding: 1px;
}
div.recordButton {
    border: 2px solid;
    border-radius: 40px;
    width: 17px;
    height: 17px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
