<div class="numberModifierArrayContainer" data-ng-style="themeService.theme.styles.numberModifier">
    <div class="label" data-ng-if="label != undefined" data-ng-style="themeService.theme.styles.numberModifierLabel">
        {{label}}
    </div>
    <div class="right"
         data-ng-bind-html="bindCharacter(itemArray[index].label)">
    </div>
    <div class="left">
        <div class="arrowContainer" data-ng-click="changeValue(1)"><i class="fa fa-caret-up"></i></div>
        <div class="arrowContainer" data-ng-click="changeValue(-1)"><i class="fa fa-caret-down"></i></div>
    </div>
</div>