<div class="userInterfaceContainer">
    AUTO-COLLAPSE<br>
    <input onchange="this.blur()" type="checkbox" data-ng-model="uiService.userInterface.autoGaterAutoHideControls"> Auto-Gater: Auto Hide Controls<Br>
    <input onchange="this.blur()" type="checkbox" data-ng-model="uiService.userInterface.autoLooperAutoHideControls"> Auto-Looper: Auto Hide Controls<br>
    <input onchange="this.blur()" type="checkbox" data-ng-model="uiService.userInterface.drumMachineAutoHideControls"> Drum Machine: Auto Hide Controls<Br>
    <br><br>
    <input onchange="this.blur()" type="checkbox" data-ng-model="uiService.userInterface.autoLooperClickStop"> Auto-Looper: Click Active To Stop<Br>
    <input onchange="this.blur()" type="checkbox" data-ng-model="uiService.userInterface.dblClickContainerHeaderForFullScreen"> Dbl-click Header For Full Screen<Br>
    <input onchange="this.blur()" type="checkbox" data-ng-model="uiService.userInterface.sampleManagerMultiEdit"> Allow Multiple Sample Edits At Once<Br>

    <br><Br>
    <input onchange="this.blur()" type="checkbox" data-ng-model="uiService.userInterface.disableToolTipLink"> Hide The ToolTip Link<Br>

    <div class="radioButtons" data-radios="uiService.userInterface.alerts.sampleSave"></div>
</div>