div.autoGaterContainer {
    height: 100%;
    width: 100%;
}

    div.autoGaterContainer > div.leftControls {
        text-align: center;
        width: 88px;
        display: inline-block;
        height: 100%;
        vertical-align: top;
    }
    div.autoGaterContainer > div.leftControls > div.buttonSelector {
        width: 30px;
    }
    div.autoGaterContainer > div.leftControls > div.actionIcons {
        width: 30px;
    }
    div.autoGaterContainer > div.gridContainer {
        height: calc(100% - 11px) !important;
    }

