div.settingsThemeContainer {

}
    div.settingsThemeContainer > input {
        display: none;
    }
    div.settingsThemeContainer > div.actionIcons {
        display: block;
        text-align: right;
    }
        div.settingsThemeContainer > div.actionIcons > span {
            width: 35px;
            display: inline-block;
            text-align: center;
            margin-bottom: 10px;
        }

    div.settingsThemeContainer > div.mainSection {
        text-align: right;
        margin-bottom: 17px;
    }


        div.settingsThemeContainer > div.headerNote {
            text-align: center;
            font-style: italic;
            margin-bottom: 17px;
        }
        
        div.settingsThemeContainer > div.mainSection input.customColor {
            width: 145px;
            height: 28px;
            margin: -4px 0 6px 0;
        }

            div.settingsThemeContainer > div.mainSection > div.row > div.title {
                display: inline-block;
                margin-right: 3px;
                vertical-align: top;
                padding-top: 2px;
            }
